:root {
    --primario: #ffffff;
    --secundario: #000000;
    --rojo: #f20e0e;
    --gris: #bebebe;

    --fuente_principal: font-family: 'Fascinate', cursive, font-family: 'Goldman', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
/* Goblales */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Fascinate', cursive;
    font-family: 'Goldman', cursive;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuente_principal);
    color: var(--secundario);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente_principal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--gris);
    padding: 0rem ;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuente_principal);
    font-size: 1.3rem;
}

/* Navegacion */
.navegacion {
    background-color: var(--gris);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.navegacion__enlace {
    font-family: var(--fuente_principal);
    color: var(--secundario);
    font-size: 3rem;
    font-weight: bolder;
}

.navegacion__enlace--activo, .navegacion__enlace:hover {
    color: var(--rojo);
}

@media (max-width: 768px) {
    .navegacion {
        flex-direction: column;
        text-align: center;
    }
}

/* Productos */
.prodcuto {

}

.producto__imagen {

}

.producto__informacion {

}

.prodcuto__nombre {

}

.producto__precio {

}